
#amit{
	position:fixed; 
	width:78%;
	z-index:9;
}

/* @media screen and (max-width:480px){
#amit{
    display: inline-block;
	width:55%;

}
.info-box{
	
	width: 60%;
    height: 2%;
    opacity: 0.7;

}
.info-box .icon i {
     
      font-size: 30px !important;
	  line-height: 60px !important; 
	}
.info-box.conent.text{
	font-size: 9px!important;
	margin-top: -7px!important;
}
.info-box.content.number{
	font-size: 12px;
	margin-top: 10px;
}


.row{
	margin-right: -34px !important;
	margin-left: -25px !important;
}
} */
@media screen and (max-width:786px){
#amit{
    display: inline-block;
	width:55%;

}


element.style {
    overflow: hidden;
    position: relative;
    left: -40.253502px!important;
    top: -0.159751px;
}
.info-box{
	
	width: 60%;
    height: 2%;
    opacity: 1;
}
.info-box .icon i {
      
      font-size: 30px;
	  line-height: 60px; 
	}
.info-box .content .text{
	font-size: 9px;
	margin-top: -7px;
}
.info-box .content .number{
	font-size: 12px;
	margin-top: 6px;
}

.row{
	margin-right: -34px !important;
	margin-left: -25px !important;
}
}